.conteudoLateralEsquerda {
  line-height: 50px;
  position: fixed;
  background-color: black;
  border-right: 0.1px solid rgba(128, 128, 128, 0.3);
}

.conteudoLateralEsquerda ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.conteudoLateralEsquerda ul :first-child {
  font-weight: 700;
}

.conteudoLateralEsquerda ul li:last-child {
  margin-top: 70px;
}

.conteudoLateralEsquerda ul > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  font-size: 16px;
  font-weight: 400;
  color: white;
  padding-left: 10px;
  margin-inline: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.conteudoLateralEsquerda ul li:hover {
  background-color: rgb(29, 29, 29);
}

.rotate-icon {
  transform: rotate(60deg);
}

.conteudoLateralEsquerda ul li:hover > :first-child {
  transform: scale(1.1);
  transition: 0.3s;
}

.conteudoLateralEsquerda ul li:hover > .rotate-icon {
  transform: scale(1.1) rotate(60deg);
  transition: 0.3s;
}

.conteudoLateralEsquerda > img {
  width: 102.5px;
  margin-bottom: 30px;
  margin-top: 40px;
  margin-left: 25px;
  cursor: pointer;
}
