body {
  background-color: black;
}

#root {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.conteudoLateralDireita,
.conteudoLateralEsquerda,
.conteudoCentral {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.conteudoLateralEsquerda {
  display: flex;
  width: 16vw;
  line-height: 20px;
}

.conteudoLateralDireita {
  background: black;
  width: 30vw;
  right: 0;
}

.conteudoCentral {
  width: 56vw;
  background-color: black;
}
